@import "./breakpoints.scss";

#error-page {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	.error-page-content {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		align-items: center;
		justify-content: center;
		.error-page-code {
			color: #b968c7;
			font-size: 8rem;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			@include breakpoint(s-mobile) {
				font-size: 7rem;
			}
		}
		.error-page-txt {
			color: #b968c7;
			font-size: 3rem;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			@include breakpoint(s-mobile) {
				font-size: 2rem;
				text-align: center;
			}
			@include breakpoint(tablet) {
				text-align: center;
			}
		}
		.error-page-back-to-homepage-link {
			text-decoration: none;
			color: #b968c7;
			font-size: 2rem;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			@include breakpoint(s-mobile) {
				text-align: center;
				font-size: 1.5rem;
			}
		}
	}
}
