@import "./breakpoints.scss";

.intro-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 9rem;
	height: 600px;
	margin: 6rem 15rem 11rem 15rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	border-radius: 4rem;
	@include breakpoint(s-mobile) {
		flex-direction: column;
		margin: 2rem 0 0 0;
		gap: 0;
		box-shadow: none;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 4px;
			background: rgba(129, 72, 144, 0.561);
			box-shadow: 0 4px 4px rgba(129, 72, 144, 0.561);
		}

		&::before {
			top: -4px;
		}

		&::after {
			bottom: -4px;
		}
	}
	@include breakpoint(tablet) {
		flex-direction: row;
		margin: 4rem 1rem 0rem 1rem;
		gap: 0;
		height: 430px;
	}
	@include breakpoint(m-screen) {
		margin-left: 5rem;
		margin-right: 5rem;
		padding-left: 3rem;
		gap: 0;
	}
	@include breakpoint(l-screen) {
		margin-left: 9rem;
		margin-right: 9rem;
		padding-left: 3rem;
	}
	@include breakpoint(xl-screen) {
		margin-right: 25rem;
		margin-left: 25rem;
		gap: 8rem;
	}
	.intro-section-presentation {
		display: flex;
		flex-direction: column;
		width: 500px;
		gap: 2rem;
		font-size: 2rem;
		font-weight: bold;
		@include breakpoint(s-mobile) {
			font-size: 1.4rem;
			width: 300px;
			align-items: center;
			justify-content: center;
		}
		@include breakpoint(tablet) {
			font-size: 1.4rem;
			width: 300px;
			align-items: center;
			justify-content: center;
		}
		@include breakpoint(xl-screen) {
			width: 650px;
		}
		.intro-section-presentation-hello {
			font-size: 2rem;
			@include breakpoint(s-mobile) {
				font-size: 1.5rem;
			}
		}
	}
	.wave {
		animation-name: wave-animation;
		animation-duration: 2.1s;
		animation-iteration-count: infinite;
		transform-origin: 70% 70%;
		display: inline-block;
	}
	.intro-section-type-container {
		height: 85px;
		overflow: hidden;
		@include breakpoint(s-mobile) {
			height: 40px;
		}
	}
	.intro-section-img {
		margin-top: 5rem;
		height: 500px;
		width: 500px;
		@include breakpoint(s-mobile) {
			height: 300px;
			width: 300px;
			margin: 0;
		}
		@include breakpoint(tablet) {
			height: 400px;
			width: 400px;
			margin: 0;
		}
		@include breakpoint(m-screen) {
			height: 480px;
			width: 480px;
		}
		@include breakpoint(xl-screen) {
			height: 580px;
			width: 580px;
			margin-bottom: 2rem;
		}
	}
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
