.tech-stack-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	.tech-stack-section-icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 20rem;
		margin-right: 20rem;
		justify-content: center;
		.tech-icons {
			font-size: 4.5em;
			margin: 15px;
			padding: 10px;
			opacity: 0.93;
			border: 1.7px solid rgba(200, 137, 230, 0.637);
			vertical-align: middle;
			text-align: center;
			border-radius: 5px;
			display: table;
			box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
			overflow: hidden;
			transition: transform 0.4s ease 0s;
			width: 150px;
			height: 150px;

			&:hover {
				transform: scale(1.05);
				overflow: hidden;
				border: 2.2px solid rgba(197, 115, 230, 0.883);
			}
		}
	}
	.tooltip {
		position: fixed;
		transform: translateX(-50%);
		padding: 5px;
		background-color: rgb(6, 2, 28);
		color: #b968c7;
		border-radius: 5px;
		white-space: nowrap;
		font-size: 1.2rem;
		z-index: 1000;
	}
}
