* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: white;
	font-family: "Exo", sans-serif;
	background-image: url("./assets/Images/parallaxImg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.span-word {
	color: #b968c7;
	font-weight: bold;
}
